@import "../../styles/mixins.scss";

.newLinkForm {
  @include addingForm;
}

.newLinkName,
.newLinkURL {
  input {
    @include form-text-field;
  }
}

.thumbnailLabel {
  @include label-file;
  margin: 0 0 10px 0 !important;
}

.thumbnailInput {
  display: none;
}

.thumbnailPreview {
  img {
    width: 200px;
  }
}


  .notificationMessage {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background: var(--red-gradient);
    color: white;
    &.success {
      background: var(--green-gradient);
    }
  }
