@import "../../styles/mixins.scss";

.newLinkForm {
  @include addingForm;
  animation: newLinkFormAppearance 500ms ease-in-out;
}

.newLinkName,
.newLinkURL {
  input {
    @include form-text-field;
  }
}

.thumbnailLabel {
  @include label-file;
  margin: 0 0 10px 0 !important;
}

.thumbnailInput {
  display: none;
}

.thumbnailPreview {
  position: relative;
  width: 200px;
  height: 200px;
  img {
    object-fit: contain;
  }
}

.notificationMessage {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background: var(--red-gradient);
  color: white;
  &.success {
    background: var(--green-gradient);
  }
}

@keyframes newLinkFormAppearance {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
