.footer {
    text-align: center;
    margin-top: 70px;
}

.footer img {
    width: auto;
    max-height: 200px;
}
    
.footerNav {
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    li {
        color: black;
        font-weight: 500;
        &:hover {
            color: rgb(97, 97, 97);
        }
    }
    a {
        &:first-child, &:nth-child(2) {
            display: flex;
        }
        &:first-child:after, &:nth-child(2):after {
                content: "|";
                margin: 0 10px;
        }       
    }
}
    
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 20px 0;
    font-size: 0.9em;
    font-family: Roboto;
    p {
        margin: auto 10px;
        line-height: 20px;
        color: black;
    }
}
.copyright-icon {
    font-size: 1em;
    color: black;
}