.container{
  background: white;
}

.navbar {
  max-width: 1600px;
  max-height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logoImg {
  max-width: 100%;
  padding: 30px;
  height: 100%;
}

.links {
  display: flex;
  margin: 20px;
}

.link {
  font-family: var(--font-primary);
  font-size: 1.5em;
  font-weight: 550;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .navbar {
    max-height: none;
    flex-direction: column;
    align-items: center;
  }
  .links {
    margin: 0;
  }
  .link {
    margin: 20px;
  }
}


// .navbar {
//   position: relative;
//   max-width: 1000px;
//   max-height: 200px;
//   margin: auto;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   padding: 0;
// }
// .engrenages {
//   width: 25%;
//   height: auto;
//   padding: 50px;
//   .engrenagesImg {
//     width: 100%;
//     height: auto;
//   }
// }
// .logo {
//   width: 50%;
//   height: auto;
//   margin: auto;
//   .logoImg {
//     width: 100%;
//   }
// }
// .link{
//   width: 25%;
//   display: flex;
//   justify-content: center;
//   // margin-bottom: 30px;
//   font-family: 'Indie Flower';
//   font-size: 1.5em;
//   font-weight: 600;
//   // .contactLink {
//   //   // width: 45%;
//   //   // &:first-child {
//   //   //   margin-right: 20px;
//   //   // }
//   // }
//   hr {
//     // height: 5px;
//     margin: 10px;
//   }
// }

// @media screen and (max-width: 900px) {
//   .contactLink {
    
//       font-size: 1em;
    
//   }
// }
// @media screen and (max-width: 600px) {
//   .contactLink {
//     font-size: 0.8em;
//     margin: auto;
//   }
//   .engrenages {
//     padding: 20px;
//   }
// }
