.photoViewer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.photoViewerImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 80vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translateX(-50%);
    font-size: 4em;
    color: white;
    cursor: pointer;
    z-index: 100;

    &:hover {
        color: var(--light-grey);
    }
}