.footer {
    text-align: center;
    padding: 40px 20px 20px 20px;
    background-color: white;
}

.engrenages {
    width: auto;
    height: 200px;
}
    
.footerNav {
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    font-family: "Indie Flower", Arial, Helvetica, sans-serif;
    li {
        color: black;
        font-weight: 600;
        font-size: 1.2em;
        &:hover {
            color: rgb(97, 97, 97);
        }
    }
    a {
        &:first-child, &:nth-child(2) {
            display: flex;
        }
        &:first-child:after, &:nth-child(2):after {
                content: "|";
                margin: 0 10px;
        }       
    }
}

@media screen and (max-width: 576px) {
    .engrenages {
        width: 50%;
        height: auto;
    }
}    