.navbar {
  position: relative;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
}
.engrenages {
  width: 25%;
  height: auto;
  padding: 50px;
}
.logo {
  width: 100%;
  height: auto;
  margin: auto;
}
.contactLink {
  width: 25%;
  margin-bottom: 30px;
  font-family: 'Indie Flower';
  font-size: 1.5em;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .contactLink {
    
      font-size: 1em;
    
  }
}
@media screen and (max-width: 600px) {
  .contactLink {
    font-size: 0.8em;
    margin: auto;
  }
  .engrenages {
    padding: 20px;
  }
}
