.navbar {
  position: relative;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  a {
    width: 25%;
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 600;
  }
}
.engrenages {
  width: 25%;
  height: auto;
  padding: 50px;
}
.logo {
  width: 50%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .navbar {
    a {
      font-size: 1em;
    }
  }
}
@media screen and (max-width: 600px) {
  .navbar a {
    font-size: 0.8em;
    margin: auto;
  }
  .engrenages {
    padding: 20px;
  }
}
