.connectionFormContainer {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);

  h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 0 20px 0;
  }
}
.connectionForm {
  max-width: 300px;
  margin: auto;
}
.userField,
.passwordField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  label {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .inputBlock {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    .icon {
      width: 5%;
      font-size: 0.8em;
      margin: 0 5px;
    }
    input {
      width: 95%;
      border: none;
      border-radius: 5px;
      padding: 7px;
      background: white;
      &:focus-visible {
        outline: none;
      }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }
}

.connectionBtn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: var(--basic-black);
  color: var(--basic-white);
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  &:hover {
    transform: scale(1.02);
    background: black;
  }
}

// .connectionForm {
//   max-width: 400px;
//   margin: auto;
//   padding: 20px 50px;
//   border: 1px black solid;
//   display: flex;
//   flex-direction: column;
//   border-radius: 10px;
//   box-shadow: 6px 6px 8px 0px rgba(100, 100, 100, 0.61);
//   background: rgb(237, 237, 237);
//   animation: adminBottomApparition 500ms ease-in-out backwards;
//   h2 {
//     text-align: center;
//     font-family: "Indie Flower", Arial, Helvetica, sans-serif;
//     font-size: 3em;
//     margin: 20px 0;
//   }

//   label {
//     font-size: 1.1em;
//   }

//   input {
//     font-size: 1.1em;
//     padding: 5px;
//     margin: 5px 0 10px 0;
//   }

//   button {
//     margin: 30px auto;
//     padding: 5px;
//     font-size: 1em;
//     font-family: "Roboto", Arial, Helvetica, sans-serif;
//     text-transform: uppercase;
//     background: rgb(65, 65, 65);
//     color: white;
//     border-radius: 5px;
//     transition: transform 200ms ease-in-out;
//     cursor: pointer;

//     &:hover {
//       background: rgb(51, 51, 51);
//       transform: scale(1.05);
//     }
//   }
// }

// .showingPasswordInput {
//   input {
//     margin-right: 5px;
//   }
// }

// .notificationMessage {
//   background: linear-gradient(35deg, rgba(89,0,0,1) 0%, rgba(235,13,13,1) 80%);
//   color: white;
//   text-align: center;
//   padding: 5px;
// }

// @keyframes adminBottomApparition {
//   0% {
//     transform: translateY(50px);
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }
