.connectionFormContainer {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);

  h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 0 20px 0;
  }
}
.connectionForm {
  max-width: 300px;
  margin: auto;
}
.userField,
.passwordField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  label {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .inputBlock {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    .icon {
      width: 5%;
      font-size: 0.8em;
      margin: 0 5px;
    }
    input {
      width: 95%;
      border: none;
      border-radius: 5px;
      padding: 7px;
      background: white;
      &:focus-visible {
        outline: none;
      }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }
}

.connectionBtn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: var(--basic-black);
  color: var(--basic-white);
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  &:hover {
    transform: scale(1.02);
    background: black;
  }
}


.showingPasswordInput {
  margin-top: 20px;
  input {
    margin-right: 5px;
  }
}

.notificationMessage {
  margin-top: 30px;
  background: var(--red-gradient);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

@keyframes adminBottomApparition {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
