.container {
  background: var(--background-gradient);
}


.works {
  max-width: 1500px;
  margin: auto;
  padding: 30px;
  text-align: center;
  h1 {
    display: inline-block;
    margin: 20px 0;
    font-family: "Indie Flower", Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
  }
}

.worksGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.workElement {
  display: block;
  // position: relative;
  width: 320px;
  // height: 370px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 4px 4px 0px rgba(51,51,51,0.25);
  background: white;
  animation: worksTopAppearance 500ms ease-in-out both;
  img {
    width: 100%;
    height: auto;
  }
  h2 {
    font-family: var(--font-primary);
    margin: 10px 0;
    // height: 50px;
  }
  
}
.editBlock {
  .iconContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: rgb(69, 69, 255);
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: rgba(115, 78, 97, 1);
    }
    .icon {
      width: 100%;
      height: 100%;
      color: white;
    }
  }
  .editFormContainer {
    height: 0px;
    overflow: hidden;
    max-width: 90%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
    &.active {
      height: 100px;
    }
  }
  .editForm {
    background: rgba(255,255,255,0.7);
    padding: 10px 20px;
  }
  .editBtn {
    margin-top: 5px;
    button {
      margin: 5px;
    }
  }
}

@media screen and (max-width:768px) {
  .workElement {
    width: 200px;
    padding: 5px;
    h2 {
      font-size: 1em;
      margin: 5px 0;
    }
  }
}

@media screen and (max-width:576px) {
  .works {
    h1 {
      font-size: 2em;
    }
  }
}

@keyframes worksTopAppearance {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
