.bio {
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 100px auto;
    padding: 20px;
    img {
        max-width: 200px;
        height: auto;
        margin-right: 50px;
    }
    p {
        font-size: 1.1em;
        line-height: 1.3em;
        text-align: justify;
    }
}

@media screen and (max-width: 900px) {
    .bio {
        flex-direction: column;
        img {
            margin: 0;
        }
    }
}
@media screen and (max-width: 500px) {
    .bio {
       font-size: 0.8em;
       margin-top: 50px;
    }
}