.grid {
    max-width: 1500px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .block {
        width: 400px;
        height: 400px;
        position: relative;
        margin: 10px;

        img {
            width: 100%;
            height: auto;
            position: absolute;
        }
        
        img:nth-child(2) {
            animation: switch 1s ease-in-out both;
            opacity: 0;
        }
    }
    
}


@media screen and (max-width: 500px) {
    .grid {
        .block {
            width: 300px;
            height: 300px;
        }
    }
}


@keyframes switch {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
}