.adminContainer {
  min-height: 50vh;
  background: var(--background-gradient);

}

.admin {
  margin: auto;
  padding: 30px 50px 50px 50px;

  h2 {
    font-size: 3em;
    font-family: "Indie Flower", Arial, Helvetica, sans-serif;
    text-align: center;
  }
}

.adminMenu {
  max-width: 700px;
  margin: auto;
  display: flex;
  animation: adminMenuAppearance 500ms ease-in-out;
}

.addingWork, .addingLink {
  width: 50%;
  margin: 20px;
  padding: 15px;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  &:hover {
    background: var(--light-grey);
    color: white;
  }
  h3 {
    margin: 0;
    font-family: var(--font-primary);
    font-size: 1.2em;
    font-weight: 500;
  }
  .icon {
    font-size: 2em;
    margin-bottom: 5px;
  }
}

.selectedMenu {
  background: var(--light-grey);
  color: white;
}

.logoutBtn {
  display: block;
  width: 400px;
  margin: 30px auto;
  padding: 10px;
  font-size: 1.1em;
  background: var(--red-gradient);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background: var(--red-button-hover);
  }
}

@media screen and (max-width:576px) {
  .admin {
    padding: 20px;
  }
  .addingWork, .addingLink {
    h3 {
      display: none;
    }
    .icon {
      margin-bottom: 0;
    }
  }
  .logoutBtn {
    width: 100%;
  }
}

@keyframes adminMenuAppearance{
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
