@import '../styles/mixins.scss';

.container {
  background: var(--background-gradient);
  padding: 30px 50px 50px 50px;
}

.contact {
  max-width: 1000px;
  margin: auto;
  animation: contactBottomAppearance 500ms ease-in-out backwards;

  h2 {
    font-family: var(--font-primary);
    font-size: 3em;
    font-weight: 500;
    margin: 0;
  }

  form {
    label {
      @include form-basic-label;
    }
    input, textarea {
      @include form-text-field;
      font-family: var(--font-secondary);
    }
    button {
      @include form-basic-button;
      width: 100%;
      margin: 20px 20px 0 0;
      &:disabled {
        @include btnDisabled;
      }
    }
  }
}
.nameFields {
  display: flex;
  justify-content: space-between;
  & > * {
    width: 49%;
  }
}
.messageValidation {
  display: flex;
}
.recaptcha {
  margin-top: 20px;
}




.notificationMessage {
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  color: white;

  &.fail {
    background: var(--red-gradient);
    border-radius: 10px;
  }
  &.success {
    background: linear-gradient(36deg, rgba(2,92,14,1) 0%, rgba(62,159,0,1) 63%);
  }
}

.loader {
  content: "";
  width: 50px;
  height: 50px;
  margin: 20px auto 0;
  border: 5px grey solid;
  border-top: 5px white solid;
  border-radius: 50%;
  animation: loadingSpinner 500ms infinite ease-in;
}

@media screen and (max-width: 768px) {
  .messageValidation {
    flex-direction: column;
  }
  .recaptcha {
    order: -1;
    margin: 20px auto 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 20px;
    font-size: 0.8em;
  }
  .nameFields {
    flex-direction: column;
    & > * {
      width: 100%;
    }
  }
  .recaptcha {
    transform: scale(0.6);
    transform-origin: 0,0;
  }
}

@keyframes contactBottomAppearance {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loadingSpinner {
  0% {
     transform: rotate(0);
  }
  100% {
     transform: rotate(360deg);
  }
}
