html,
body {
  /* font-family: "Gloria Hallelujah"; */
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: grey;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

:root {
  --background-gradient: linear-gradient(140deg, rgba(242,242,242,1) 14%, rgba(255,255,255,1) 100%);
  --green-gradient: linear-gradient(36deg, rgba(2, 92, 14, 1) 0%, rgba(62, 159, 0, 1) 63%);
  --red-gradient: linear-gradient(35deg, rgba(89, 0, 0, 1) 0%, rgba(235, 13, 13, 1) 80%);
  --font-primary: "Indie Flower", "Roboto", Arial, Helvetica, sans-serif;
}

