.linksContainer {
    background: var(--background-gradient);
    padding: 30px 50px 50px 50px;
    h2 {
        text-align: center;
        font-family: var(--font-primary);
        font-size: 3em;
        font-weight: 500;
        margin: 0;
    }
}

.links {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



@media screen and (max-width: 576px) {
    .links {
        flex-direction: column;
    }
}




@keyframes linkTopAppearance {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}