.liensContainer {
    min-height: 80vh;
    max-width: 800px;
    margin: 100px auto;

    h2 {
        text-align: center;
        font-family: 'Indie flower', Arial, Helvetica, sans-serif;
        font-size: 3em;
    }

    .liens {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .lien {
        position: relative;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 10px 20px 10px;
        padding: 10px;
        border: 3px lightgrey solid;
        transition: transform 200ms ease-in-out;
        cursor: pointer;
        animation: linkTopApparition 500ms ease-in-out backwards;

         &:hover {
            transform: scale(1.05);

            .filter {
                opacity: 1;
            }
         }
        
        h3 {
            text-align: center;
            margin: 10px 0 0 0;
        }

        hr {
            width: 50%;
            // text-align: center;
            margin: 20px auto;
        }
        
        .lienImg {
            position: relative;
            height: 150px;

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .filter {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.2);
            transition: opacity 200ms ease-in-out;
        }
    }
}

@keyframes linkTopApparition {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}