// @import './animations.css';

.peintures {
    h1 {
        font-family: "Indie Flower", Arial, Helvetica, sans-serif;
        font-size: 4em;
        text-align: center;
        text-transform: uppercase;
    }
    margin-top: 100px;
}

.grid {
    max-width: 1500px;
    margin: 50px auto 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .block {
        width: 400px;
        height: 400px;
        position: relative;
        margin: 10px;
        animation: peintureApparition 500ms ease-in-out backwards;

        img {
            width: 100%;
            height: auto;
        }       
        
    }
    
}


.peintureContainer {
    max-width: 1000px;
    min-height: 100vh;
    margin: 50px auto;
}



.peinture {
    padding: 10px;
    text-align: center;
    background: rgb(237, 237, 237);
    animation: peintureApparition 500ms ease-in-out backwards;



    h1 {
        font-family: "Indie Flower", Arial, Helvetica, sans-serif;
        font-size: 3em;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        max-width: 800px;
        text-align: justify;
        margin: 30px auto;
    }
}
@media screen and (max-width: 500px) {
    .grid {
        .block {
            width: 300px;
            height: 300px;
        }
    }
}



@keyframes peintureApparition {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}