.sculptures {
    margin-top: 100px;
    h1 {
        font-family: "Indie Flower", Arial, Helvetica, sans-serif;
        font-size: 4em;
        text-align: center;
        text-transform: uppercase;
    }
}

.grid {
    max-width: 1500px;
    margin: 50px auto 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .block {
        width: 400px;
        height: 400px;
        position: relative;
        margin: 10px;
        animation: imageApparition 500ms ease-in-out backwards;

        img {
            width: 100%;
            height: auto;
        }       
        
    }
    
}

.sculptureContainer {
    min-height: 100vh;
    max-width: 1200px;
    margin: 50px auto;
}

.sculpture {
    padding: 30px;
    background: rgb(237, 237, 237);
    animation: imageApparition 500ms ease-in-out backwards;

    h1 {
        font-family: "Indie Flower", Arial, Helvetica, sans-serif;
        font-size: 4em;
        text-align: center;
        margin: 10px 0 20px 0;
    }
}

.sculptureDetails {
    display: flex;

    img {
        margin-right: 20px;
    }
    p {
        font-size: 1.2em;
        text-align: justify;
    }
}


@media screen and (max-width: 500px) {
    .grid {
        .block {
            width: 300px;
            height: 300px;
        }
    }
}

@keyframes imageApparition {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
