@import "../../styles/mixins.scss";

.workCard {
  position: relative;
  width: 800px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  // border: 2px red solid;
}

.thumbnailImg {
  border-radius: 50px 0 0 50px;
}

.infos {
  position: absolute;
  right: 0;
  width: 55%;
  height: 100%;
  background: white;
  border-radius: 50px;
  padding: 40px;
  .nameContainer {
    display: flex;
    align-items: center;
  }
  .descriptionContainer {
    position: relative;
    // border: 2px blue solid;
  }
  .nameContainer,
  .descriptionContainer {
    .icon {
      @include editing-icon;
    }
  }
  h2 {
    font-family: var(--font-primary);
    font-size: 2em;
    font-weight: 600;
    margin: 0;
  }
}

.thumbnailEditing {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.thumbnailEditingBtn {
  @include pillBtn;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

  &:hover {
    background: rgb(242, 242, 242);
  }
}

.nameEditing {
  .editFormContainer {
    position: absolute;
    left: 40px;
    z-index: 10;
  }
}

.descriptionEditing {
  .icon {
    position: absolute;
    top: 0;
    left: -40px;
  }
  .editFormContainer {
    width: 100%;
    position: absolute;
    top: -20px;
  }
}

.editFormContainer {
  width: 300px;
  background: white;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.editForm {
  width: 100%;
  text-align: center;
  h3 {
    background: var(--basic-black);
    color: var(--basic-white);
    font-family: var(--font-primary);
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 0 25px 0;
    padding: 10px;
    border-radius: 20px 20px 0 0;
  }
  .thumbnailLabel {
    @include label-file;
  }
  .tumbnailImgPreview {
    width: 90%;
    margin: 0 auto 20px auto;

    img {
      width: 100%;
    }
  }
  .thumbnailInput {
    display: none;
  }
  .textInput {
    margin-bottom: 20px;
    padding: 5px 10px;
    border: none;
    box-shadow: var(--box-shadow);
  }
  .textAreaInput {
    max-width: 90%;
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border: none;
    box-shadow: var(--box-shadow);
  }
}
.editingFormBtns {
  @include editing-form-btns;
}
.deleteBtn {
  @include pillBtn;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  background: var(--red-gradient);
  transition: transform 100ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 992px) {
  .workCard {
    height: 800px;
    width: 400px;
    .thumbnailImg {
      border-radius: 50px 50px 0 0;
    }
    .infos {
      bottom: 0;
      height: 55%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .workCard {
    font-size: 0.8em;
    height: 800px;
    width: 90%;
    .thumbnailImg {
      border-radius: 50px 50px 0 0;
      width: 100%;
      object-fit: cover;
    }
    .infos {
      bottom: 0;
      height: 55%;
      width: 100%;
    }
    .thumbnailEditing {
      .editFormContainer {
        max-width: 250px;
      }
    }
    .nameEditing {
      .editFormContainer {
        max-width: 90%;
        left: 10px;
      }
    }
    .descriptionEditing {
      .editFormContainer {
        width: 250px;
        left: -30px;
        top: 20px;
      }
    }
    .deleteBtn {
      padding: 5px;
      &Txt {
        display: none;
      }
      .icon {
        margin-right: 0;
      }
    }
  }
}
